---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
//$base-font-family: Helvetica, Arial, sans-serif;
@font-face {
    font-family: 'pfennig';
    src: url('/fonts/pfennig-webfont.eot');
    src: url('/fonts/pfennig-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfennig-webfont.woff') format('woff'),
         url('/fonts/pfennig-webfont.ttf') format('truetype'),
         url('/fonts/pfennig-webfont.svg#pfennig') format('svg');
    font-weight: normal;
    font-style: normal;

}

$base-font-family: Pfennig, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color: #CCCCCC;
$background-color: #1A1A1A;
$brand-color: #0184DD;
$grey-color: #b8b8b8;
$grey-color-light: $grey-color;
$grey-color-dark:  darken($grey-color,25%);

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.center-image{
    margin: 0 auto;
    display: block;
}
