%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%1
GeneralTarget
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%1
Target
        THICKNESS= 0.3231
        RADIUS= 7.5
        MATERIAL= Al
        X= 0
        Y= 0
        Z= 0
