*.cmake
*.G4Table
*CMakeFiles*
*.ninja*
*.swp
Makefiles
Makefile
*.gitignore
CMakeCache.txt
*.dylib
*.so
*.gdml
*.root
*.wrl
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.aux
*.toc
install_manifest.txt
.DS_store
*Projects*
.last_*
npanalysis
nponline
nptool-cleaner
nptool-installer
npsimulation
*.reaction
*.detector
*.source
NPData/*
Inputs/EnergyLoss/*.G4table
.ls_return
Documentation/user_guide.log
*.bbl
*.blg
*.SRIM
*.sublime-*
PhysicsListOption.txt
Projects/T40/Analysis.cxx
Projects/T40/Analysis.h
Projects/T40/T40.detector
Projects/T40/19Fdp.reaction
Projects/T40/configs/*.dat
Outputs
Outputs/*
Outputs/*/*.*