Makefile.detector
liblist
.core_libs
.detector_libs
DetectorList.inc
bin
DetectorClassList.txt
Utility/Makefile
Utility/npanalysis
Utility/nptool-installer
*.pcm
*Dict*
*rootmap*
*_rflx.cpp
*.dylib
*.so
*.cmake
