Makefile.detector
liblist
.core_libs
.detector_libs
DetectorList.inc
bin
ClassList.txt
Utility/Makefile
Utility/npanalysis
Utility/nptool-installer
Utility/nptool-wizard
*.pcm
*Dict*
*rootmap*
*_rflx.cpp
*.dylib
*.so
*.cmake
../Documentation/user_guide/*.bbl
../Documentation/user_guide/*.blg
NPLibVersion.h
scripts/*.d
